body{
   background-color: rgb(255, 177, 99);
  font-family: "Playwrite DK Loopet", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}


nav{
    background-color: cadetblue;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 30px;
}

nav a{
    color: rgb(255, 255, 108);
    text-decoration: none;
    font-size: 20px;
    margin: 50px;
}

main{
    background-color: rgb(113, 186, 254);
    border-radius: 15px;
    padding: 15px;
}

main img{
    height:200px;
    border: 10px solid rgb(113, 186, 254);
}

main table{
    text-align: center;
    font-size: 20px;
}

footer{
    background-color: crimson;
    color: white;
    border-radius: 15px;
    padding: 5px;
    margin-top: 15px ;
}

footer img{
    height: 40px;
    border-radius: 100%;
}
